.container {
	width: 92%;
	margin: 2rem auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	max-width: 1258px;
	border-radius: 5px;
	font-family: var(--ff-roboto);
}

.sectionContainer {
	width: 100%;
	background-color: var(--color-white);
	padding: 1rem;
	border-radius: 5px;
	margin-top: 5px;
	margin-inline: auto;
}

.formContainer {
	width: 100%;
	display: flex;
	flex-direction: row-reverse;
	justify-content: center;
	align-items: center;
	gap: 10px;
	margin-block: 1.5rem;
}

.form {
	width: 50%;
	display: flex;
	flex-direction: column;
}

.galleryContainer {
	width: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	border-radius: 5px;
	gap: 8px;
}

.sectionDescription {
	color: var(--color-black-cow);
}

.headerContainer {
	width: 100%;
	display: flex;
	background-color: var(--color-white);
	padding: 1rem;
	border-radius: 5px;
}

.title {
	color: var(--color-black-cow);
}

.imageItem {
	font-size: 0.88rem;
	font-weight: 600;
	color: var(--color-black-cow);
}
