
.table {
	/* border: 1px solid black; */
    align-self: center;
	width: 70%;
	margin: 2rem auto;
	border-radius: 5px;
	color: var(--color-black-cow);
}

.actions {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 0.15rem;
    width: 40%;
}



td,
th {
	text-align: center;
	padding: 0.5rem;
	border: 1px solid var(--color-black-cow);
	height: 5rem;
	color: #000;
	font-size: 1.2rem;
}
th {
	background-color: #ae9279;
	color: white;
	font-family: 'Roboto', sans-serif;
	font-style: italic;
}
.title{
	margin: 1rem;
	text-align: center;
	font-family: 'Roboto', sans-serif;
	color: #ae9279;
	font-style: italic;
	font-size: 2rem;
}
