.bodyMain {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	max-width: 1258px;
	height: 10rem;
	border-radius: 5px 5px 0 0;
	background-color: #464646;
	margin: 2rem auto 0;
	-webkit-animation: fade-in-bottom 0.7s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
			animation: fade-in-bottom 0.7s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

 @-webkit-keyframes fade-in-bottom {
	0% {
	  -webkit-transform: translateY(50px);
			  transform: translateY(50px);
	  opacity: 0;
	}
	100% {
	  -webkit-transform: translateY(0);
			  transform: translateY(0);
	  opacity: 1;
	}
  }
  @keyframes fade-in-bottom {
	0% {
	  -webkit-transform: translateY(50px);
			  transform: translateY(50px);
	  opacity: 0;
	}
	100% {
	  -webkit-transform: translateY(0);
			  transform: translateY(0);
	  opacity: 1;
	}
  }
  

.bodyH1 {
	font-family: 'Berkshire Swash', serif;
	color: white;
	font-size: 6rem;
}

.bodyH2 {
	font-family: 'Euphoria Script', cursive;
	font-weight: 100;
	color: white;
	font-size: 2.3rem;
	margin: -1.5rem 0 1rem -3rem;
}

@media (max-width: 1307px) {
	.bodyH1 {
		font-size: 5rem;
	}
	.bodyH2 {
		font-size: 1.8rem;
		margin: -1.2rem 0 1rem -3rem;
	}
}
@media (max-width: 810px) {
	.bodyMain {
		height: 8rem;
	}
	.bodyH1 {
		font-size: 4rem;
	}
	.bodyH2 {
		font-size: 1.5rem;
		margin: -0.8rem 0 1rem -1.3rem;
	}
}

@media (max-width: 576px) {
	.bodyMain {
		height: 6rem;
	}
	.bodyH1 {
		font-size: 2.8rem;
	}
	.bodyH2 {
		font-size: 1.2rem;
		margin: -0.6rem 0 0rem -1.3rem;
	}
}

@media (max-width: 390px) {
	.bodyMain {
		height: 6rem;
	}
	.bodyH1 {
		font-size: 3rem;
	}
	.bodyH2 {
		font-size: 1.2rem;
		margin: -0.6rem 0 1rem -1.3rem;
	}
}
