.sectionContainer {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	max-width: 1258px;
	background-color: white;
	border-radius: 0px 0px 5px 5px;
	gap: 2.2rem;
	padding: 2rem;
	margin: 0 auto;
	margin-bottom: 3rem;
	-webkit-animation: fade-in-bottom 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
			animation: fade-in-bottom 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}


 @-webkit-keyframes fade-in-bottom {
	0% {
	  -webkit-transform: translateY(50px);
			  transform: translateY(50px);
	  opacity: 0;
	}
	100% {
	  -webkit-transform: translateY(0);
			  transform: translateY(0);
	  opacity: 1;
	}
  }
  @keyframes fade-in-bottom {
	0% {
	  -webkit-transform: translateY(50px);
			  transform: translateY(50px);
	  opacity: 0;
	}
	100% {
	  -webkit-transform: translateY(0);
			  transform: translateY(0);
	  opacity: 1;
	}
  }

.sectionCard {
	display: flex;
	flex-direction: column;
}
.sectionCard img{
	width: 16.9rem;
	height: 22rem;
	border-radius: 3px 3px 0px 0px;
 }

.sectionCard:hover {
	box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
}

.sectionButton {
	background-color: #464646;
	color: white;
	border: none;
	font-family: 'Roboto', serif;
	font-style: italic;
	font-size: 16px;
	padding: 0.6em;
	border-radius: 0px 0px 3px 3px;
	cursor: pointer;
}
