@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Euphoria+Script&family=Roboto:ital,wght@0,300;0,400;1,300;1,400;1,500&display=swap');


.bodySearch{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    background-color: white;
    border-radius: 5px;
    padding: 0.3rem;
    width: 28rem;
    height: 38.2rem;
}

.divSearch{
    position: relative;
}

.searchImg{
    width: 13.7em;
    height: 18.6em;
    transition: 0.2s ease;
}

.divSearch:hover .searchImg{
    transform: scale(0.99);
}

.searchButton{
    position: absolute;
    bottom: 15px;
    right: 10px;
    border: solid 1px #AE9279;
    padding: 0.2rem 1.2rem 0.3rem 1.2rem;
    border-radius: 2px;
    backdrop-filter:  blur(4px);
    opacity: 0.80;
    font-family: 'Roboto', serif;
    font-style: italic;
    color: #454545;
    cursor: pointer;
}

.searchLink{
    color: #454545;
    text-decoration: none;
}

@media (max-width: 1310px){
    .bodySearchContainer{
        width: 100%;
    }
    .bodySearch {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        margin: 0 auto;
        width: 49.5rem;
        height: 17rem;
        margin-top: 1%;
    }    
    .divSearch{
        height: 100%;
    }
    .searchImg{
        width: 12.1em;
        height: 16.3em;
    }
}
@media (max-width: 832px){ 
    .bodySearchContainer{
        width: 100%;
    }
    .bodySearch {
        width: 100%;
    }    
    .searchImg{
        width: 100%;
    }
}

@media (max-width: 578px){
    .bodySearch{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        width: 100%;
        height: 100%;
    }
    .searchImg{
        width: 100%;
        height: 100%;
    }
}








