@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Euphoria+Script&family=Roboto:ital,wght@0,300;0,400;1,300;1,400;1,500&display=swap');

.recomendadoContainer{
    position: relative;
    display: flex;
    justify-content: end;
    background: white;
    width: 49.4rem;
    height: 612px;
    margin-left: 15px;
    border-radius: 5px;
    padding: 5px;
}

.recomendadoImg{
    width: 30rem;
}

.recomendadoDetail{
    backdrop-filter:  blur(4px) ;
    border: 1px solid #AE9279;
    width: 325px;
    height: 450px;
    position: absolute;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 30px;
    padding: 4rem;
    font-family: 'Roboto', sans-serif;
    font-style: italic; 
    border-radius: 3px;
    color: #494949;
    top: 5rem;  
    left: 5rem; 
}

.recomendadoDetail:hover{
    box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.2);
}
.recomendadoButton{
    background-color: #AE9279;
    border: none;
    border-radius: 2px;
    padding: 0.4rem 1.5rem;
    font-size: 20px;
    color: white;
    font-style: italic;
    cursor: pointer;
}
.recomendadoButton:hover{
    color: #494949;
}

@media (max-width: 1307px){
    .recomendadoContainer{
        margin-left: 0px;
    }
}
