@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Euphoria+Script&family=Roboto:ital,wght@0,300;0,400;1,300;1,400;1,500&display=swap');

.sectionContainer{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 1258px;
    background-color: white;
    gap: 2.2rem;
    padding: 2rem 2rem 2rem 2rem;
    margin: 0 auto;
}

.sectionCard{
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
}

.sectionCard:hover{
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
}


.sectionButton{
    background-color: #464646;
    color: white;
    border: none;
    font-family: 'Roboto', serif;
    font-style: italic;
    font-size: 16px;
    padding: 0.6em;
    cursor: pointer;
}

