.bodyHome {
	height: 100%;
	width: 96%;
	margin: 1rem auto;
}

.bodyProducts {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap-reverse;
}

.bodyProductsTwo {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	margin-top: 1.9rem;
}
