*,
*::before,
*::after {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

:root {
	--color-oslo-grey: #8b8a8b;
	--color-dove-grey: #6c6c6c;
	--color-black-cow: #464646;
	--color-soft-peach: #eee;
	--color-light-grey: #d9d9d9;
	--color-white: #ffffff;
	--color-black: #000000;
	--color-toast-success: #147739;
	--color-toast-info: #224b8c;
	--color-toast-warning: #8b4c1f;
	--color-toast-error: #862727;
	--input-focus-h: 55;
	--input-focus-s: 100%;
	--input-focus-l: 20%;
	--ff-roboto: 'Roboto', sans-serif;
}

body {
	background: var(--color-light-grey);
}

/* 
	Forms styles begins
	
	ಥ_ಥ
*/

.input {
	font-size: 0.95rem;
	font-family: inherit;
	padding: 0.2em 0.5em;
	background-color: var(--color-white);
	border: 1px solid rgba(0, 0, 0, 0.37);
	border-radius: 5px;
	transition: 180ms box-shadow ease-in-out;
}

.input::placeholder {
	color: var(--color-oslo-grey);
	padding-inline: 0.5em;
}

/* .placeholder {
	color: var(--color-oslo-grey) !important;
	padding-inline: 0.5em !important;
} */

.input:focus {
	border-color: hsl(
		var(--input-focus-h),
		var(--input-focus-s),
		var(--input-focus-l)
	);
	box-shadow: 0 0 0 3px
		hsla(
			var(--input-focus-h),
			var(--input-focus-s),
			calc(var(--input-focus-l) + 40%),
			0.1
		);
	outline: 3px solid transparent;
}

.input:not(textarea) {
	line-height: 1;
	height: 2.25rem;
}

input[type='file'] {
	font-size: 0.9em;
	padding-top: 0.35rem;
}

textarea.input {
	resize: vertical;
}

.input[readonly] {
	border-style: dotted;
	cursor: not-allowed;
	color: #777;
}

.input[disabled] {
	background-color: var(--color-soft-peach);
	cursor: not-allowed;
}

label {
	font-size: 0.95rem;
	font-weight: 500;
	line-height: 1;
	color: var(--color-black-cow);
}

.input + label {
	margin-top: 2rem;
}

.form-group {
	display: flex;
	align-items: center;
	margin-top: 2rem;
	width: 774px;
	gap: 24px;
}

.form-group label {
	width: 300px;
}

.form-group .input {
	width: 450px;
	background-color: transparent;
}

.submit-button {
	appearance: button;
	width: fit-content;
	padding: 0.8rem 1.05rem;
	border: none;
	background-color: var(--color-dove-grey);
	border-radius: 5px;
	color: white;
	font-weight: 600;
	cursor: pointer;
	margin-inline-start: auto;
	margin-block-start: 1rem;
}

.submit-button:focus {
	text-decoration: none;
}

.submit-button:hover {
	text-decoration: none;
}

.submit-button:active {
	box-shadow: rgba(0, 0, 5, 0.125) 0 3px 5px inset;
	outline: 0;
}

.submit-button:not([disabled]):active {
	box-shadow:
		var(--color-white) 2px 2px 0 0,
		var(--color-black) 2px 2px 0 1px;
	transform: translate(2px, 2px);
}

.form-page-container {
	width: 92%;
	margin: 2rem auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	max-width: 78.6rem;
	border-radius: 5px;
	font-family: var(--ff-roboto);
}

.section-container {
	width: 100%;
	background-color: #ffffff;
	padding: 2rem;
	border-radius: 10px;
	margin-top: 1%;
	margin-inline: auto;
}

.form-container {
	width: 100%;
	height: 85%;
	display: flex;
	flex-direction: row-reverse;
	justify-content: center;
	align-items: center;
	gap: 10px;
	margin-block: 1.5rem;
}

.form {
	height: 100%;
	padding-block: 5rem;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	border-radius: 5px;
}

.section-description {
	color: var(--color-black-cow);
	font-size: 14px;
}

.header-container {
	width: 100%;
	display: flex;
	background-color: var(--color-white);
	padding: 1rem;
	border-radius: 5px;
}

.form-page-title {
	color: var(--color-black-cow);
	font-size: 20px;
}

.form-preview-item {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding-top: 2rem;
	gap: 1rem;
}

.form-error-message {
	color: red;
	font-size: 12.25px;
	margin-inline-start: auto;
	margin-block-start: 5px;
}

.form-header {
	display: flex;
	align-items: center;
	gap: 1.5rem;
}

.form-header-icon-container {
	height: 60px;
	width: 60px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: var(--color-black-cow);
	border-radius: 5px;
	box-shadow: 0 2px 15px -5px var(--color-black-cow);
}

.form-header-texts-container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 60px;
}

/* 
	Toast styles begins
	
	(●'◡'●)
*/

/* ToastsContainer */
.toasts-container {
	display: flex;
	flex-direction: column-reverse;
	row-gap: 12px;
	z-index: 9999;
	position: fixed;
	top: 16px;
	right: 16px;
	font-family: var(--ff-roboto);
}

/* Toast */
.toast {
	display: flex;
	align-items: center;
	background-color: #ffffff;
	box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
	border-radius: 10px;
	padding: 16px;
	position: relative;
	width: 320px;
	overflow: hidden;
}

.toast-message {
	color: #464646;
	font-size: 14px;
	font-weight: 500;
	margin-left: 12px;
	font-family: 'Roboto', sans-serif;
	font-style: italic;
}

.dismiss-btn {
	cursor: pointer;
	border: none;
	background: none;
	margin-left: auto;
}

.success-icon {
	color: var(--color-toast-success);
}

.info-icon {
	color: var(--color-toast-info);
}

.warning-icon {
	color: var(--color-toast-warning);
}

.error-icon {
	color: var(--color-toast-error);
}

.toast-progress {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 4px;
	background-color: rgba(0, 0, 0, 0.1);
}

.toast-progress-bar {
	height: 100%;
	animation: progress-bar 4s linear forwards;
}

.toast-progress-bar.success {
	background-color: var(--color-toast-success);
}

.toast-progress-bar.info {
	background-color: var(--color-toast-info);
}

.toast-progress-bar.warning {
	background-color: var(--color-toast-warning);
}

.toast-progress-bar.error {
	background-color: var(--color-toast-error);
}

@keyframes progress-bar {
	0% {
		width: 100%;
	}
	100% {
		width: 0%;
	}
}

.toasts-container {
	display: flex;
	flex-direction: column-reverse;
	row-gap: 12px;
	position: fixed;
	z-index: 9999;
}

.top-right {
	top: 16px;
	right: 16px;
}

.top-left {
	top: 16px;
	left: 16px;
}

.top-center {
	top: 16px;
	left: 50%;
	transform: translateX(-50%);
}

.bottom-left {
	bottom: 16px;
	left: 16px;
}

.bottom-center {
	bottom: 16px;
	left: 50%;
	transform: translateX(-50%);
}

.bottom-right {
	bottom: 16px;
	right: 16px;
}

.toast {
	animation: slide-in 0.4s ease-in-out forwards;
}

@keyframes slide-in {
	0% {
		opacity: 0;
		transform: translateX(100%);
	}
	100% {
		opacity: 1;
		transform: translateX(0%);
	}
}

.toast-dismissed {
	animation: slide-out 0.4s ease-in-out forwards;
}

@keyframes slide-out {
	0% {
		opacity: 1;
		transform: translateX(0%);
	}
	100% {
		opacity: 0;
		transform: translateX(100%);
	}
}

.clipping-container {
	position: relative;
	border: 1px solid #aaa;
	margin-bottom: 12px;
	padding: 12px;
	width: 250px;
	height: 80px;
	overflow: hidden;
}

.modal {
	box-shadow: rgba(100, 100, 111, 0.3) 0px 7px 29px 0px;
	background-color: white;
	border-radius: 12px;
	position: absolute;
	padding: 1.5rem;
	z-index: 999;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.modal-content {
	display: flex;
	flex-direction: column;
	/* justify-content: center;
	align-items: center; */
	width: 100%;
	height: 100%;
}
