.paginationContainer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 10rem;
	margin: 2rem auto;
}

.paginationContainer button {
	border: none;
	padding: 0.4rem 0.6rem;
	border-radius: 3px;
	background: #ae9279;
	color: white;
	cursor: pointer;
}

.paginationContainer button:hover {
	box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
	color: #464646;
}

.paginationContainer h3 {
	font-family: 'Roboto', sans-serif;
	font-style: italic;
	background-color: white;
	border: 1px solid #ae9279;
	padding: 0.3rem 0.6rem;
	color: #464646;
	border-radius: 3px;
	margin-right: 1.4px;
	margin-top: 0.1px;
}

@media (max-width: 576px) {
	.paginationContainer h3 {
		font-size: 12px;
	}
	.paginationContainer button {
		padding: 0.4rem 0.5rem;
	}
}
