.paginationContainer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 10rem;
	margin: 2rem auto;
	-webkit-animation: fade-in-bck 2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
			animation: fade-in-bck 2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

 @-webkit-keyframes fade-in-bck {
	0% {
	  -webkit-transform: translateZ(80px);
			  transform: translateZ(80px);
	  opacity: 0;
	}
	100% {
	  -webkit-transform: translateZ(0);
			  transform: translateZ(0);
	  opacity: 1;
	}
  }
  @keyframes fade-in-bck {
	0% {
	  -webkit-transform: translateZ(80px);
			  transform: translateZ(80px);
	  opacity: 0;
	}
	100% {
	  -webkit-transform: translateZ(0);
			  transform: translateZ(0);
	  opacity: 1;
	}
  }
  

.paginationContainer button {
	border: none;
	padding: 0.4rem 0.6rem;
	border-radius: 3px;
	background: #ae9279;
	color: white;
	cursor: pointer;
}

.paginationContainer button:hover {
	box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
	color: #464646;
}

.paginationContainer h3 {
	font-family: 'Roboto', sans-serif;
	font-style: italic;
	background-color: white;
	border: 1px solid #ae9279;
	padding: 0.3rem 0.6rem;
	color: #464646;
	border-radius: 3px;
	margin-right: 1.4px;
	margin-top: 0.1px;
}

@media (max-width: 576px) {
	.paginationContainer h3 {
		font-size: 12px;
	}
	.paginationContainer button {
		padding: 0.4rem 0.5rem;
	}
}
