@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Gruppo&family=Inter:wght@300;400;500;600;700;800;900&family=Roboto:ital,wght@0,300;0,400;1,300;1,400;1,500&display=swap');


.productContainer{
    height: 100%;
    width: 99%;
    margin: 2rem auto;
    max-width: 1258px; 
    font-family: 'Roboto', sans-serif;
}

.productHeader{
    display: flex;
    justify-content: space-between;
    background-color: white;
    padding: 1rem;
    border-radius: 5px;
}

.productH2{
    color: #464646;
}

.productButton{
    background-color: #464646;
    border: none;
    padding: 0.2rem 0.6rem;
    border-radius: 3px;
    cursor: pointer;
}

.productButton:hover{
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
}

.productLink{
    color: white;
    font-style: italic;
    text-decoration: none;
}

.descriptionContainer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    margin-top: 1%;
    gap: 5px;
}

.descriptionBigImg {
    width: 25rem;  
}
.descriptionBigImg img{
    width: 100%;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
}

.descriptionImg{
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 5px;
    column-gap: 5px;
}
.descriptionImg img{
    width: 12.25rem;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
}


.descriptionP{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem;
    border-radius: 5px;
    color: #464646;
    background-color: white;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
    height: 99.2%;
}

.descriptionFooter{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.descriptionButton{
    background-color: #464646;
    border: none;
    padding: 0.42rem 0.7rem;
    border-radius: 3px;
    cursor: pointer;
}

.descriptionButton:hover{
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
}

@media (max-width: 1280px){
    .descriptionBigImg{
        width: 100%;
    }
    .descriptionImg{
        width: 100%;
    }
    .descriptionImg img{
        width: 100%;
    }
} 
@media (max-width: 1020px){ 
    .descriptionContainer{
        grid-template-columns: 1fr 1fr;
    }
    .descriptionP{
        grid-column-end: span 2;
    }
}
