.userContainer{
    position: relative;
    display: flex;
    align-items: center;
    gap: 10px;
    color: white;
}

.userContainer h3{
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    margin:0;
    font-size: 16px;
}

.userContainer button{
    color: white;
    border: none;
    background-color: transparent;
    cursor: pointer;
}
.userContainer h2{
    font-family: 'Roboto', sans-serif;
    margin:0;
    background-color: white;
    border-radius: 5px;
    padding: 3px 4px;
    font-size: 18px;
    font-style: italic;
    font-weight: 300;
    color: #464646;
}

.userLink{
    color: white;
    font-size: 20px;
    text-align: center;
    margin-top: 5px;
    margin-left: -2px;
    cursor: pointer;
}

.userLink:hover{
    color: #464646;
}

.menuContainer{
    position: absolute;
    background-color: white;
    top: 6rem;
    width: 12.4rem;
    border-radius: 5px;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.1);
        -webkit-animation: slide-in-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
                animation: slide-in-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

 @-webkit-keyframes slide-in-bottom {
    0% {
      -webkit-transform: translateY(50px);
              transform: translateY(50px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
    }
  }
  @keyframes slide-in-bottom {
    0% {
      -webkit-transform: translateY(50px);
              transform: translateY(50px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
    }
  }
  

.menuContainer button{
    display: block;
    width: 80%;
    margin: 20px auto;
    padding: 0.5rem;
    border: none;
    background-color: #AE9279;
    color: white;
    border-radius: 3px;
    cursor: pointer;
}

.menuContainer button:hover{
    color: #464646;
}