.userContainer{
    position: relative;
    display: flex;
    align-items: center;
    gap: 10px;
    color: white;
}

.userContainer h3{
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    margin:0;
}

.userContainer button{
    color: white;
    border: none;
    background-color: transparent;
    cursor: pointer;
}
.userContainer h2{
    font-family: 'Roboto', sans-serif;
    margin:0;
    background-color: white;
    border-radius: 5px;
    padding: 3px 4px;
    font-size: 18px;
    font-style: italic;
    font-weight: 300;
    color: #464646;
}

.userLink{
    color: white;
    font-size: 18px;
    text-align: center;
    margin-top: 5px;
    margin-left: -2px;
    cursor: pointer;
}

.userLink:hover{
    color: #464646;
}


