.bodyContainer{
  width: 100%;
  height: 100vh;
  background-color: #494949;
  display: grid;
  place-content: center;
  position: relative;
}
.formContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 25rem;
    height: 38rem;
    border-radius: 5px;
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    color: #494949;
    background-color: white;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.9);
    -webkit-animation: slide-top 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
            animation: slide-top 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  }

 @-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateY(100px);
            transform: translateY(100px);
  }
  100% {
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
  }
}
@keyframes slide-top {
  0% {
    -webkit-transform: translateY(100px);
            transform: translateY(100px);
  }
  100% {
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
  }
}

  .formContainer form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 21rem;
    width: 80%;
    margin-top: 5rem;
  }

  .formInput{
    padding: 0.8rem;
    border-radius: 5px;
    outline: none;
    border: solid 1px #494949;
    margin-top: 10px;
  }
  .formInput:focus{
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2);
  }

  .formLogo{
    position: absolute;
    top: 1.5rem;
  }

  .formLogo h1{
    font-family: 'Berkshire Swash', serif;
    font-style: normal;
    font-size: 85px;
    font-weight: 100;
  }
  .formLogo h3{
    font-size: 32px;
    font-style: normal;
    margin-left: 30px;
  }

  .formButton{
    padding: 0.8rem;
    color: white;
    background-color: #ae9279;
    border: solid 1px #494949;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
  }

  .formButton:hover{
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2);
  }

  .returnButton{
    position: absolute;
    bottom: 30px;
    border: none;
    background-color: transparent;
    font-size: 25px;
    font-weight: 300;
    font-family: 'Euphoria Script', cursive;
    cursor: pointer;
    color: #494949;
  }

  .bodyContainerRegister{
    position: relative;
    margin-top: 15%;
  }

  .registerImg{
    position: absolute;
    top: 0rem;
    right: -12rem;
    width: 21rem;
    transform: rotate(10deg);
    border-radius: 12px;
    box-shadow: 0px 5px 9px rgba(0, 0, 0, 0.6);
    z-index: 0;
    filter: grayscale(20%);
    -webkit-animation: rotate-in-2-bl-cw 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
            animation: rotate-in-2-bl-cw 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  }

 @-webkit-keyframes rotate-in-2-bl-cw {
  0% {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    -webkit-transform-origin: 0 100%;
            transform-origin: 0 100%;
    opacity: 0;
  }
  100% {
    -webkit-transform: rotate(12deg);
            transform: rotate(12deg);
    -webkit-transform-origin: 0 100%;
            transform-origin: 0 100%;
    opacity: 1;
  }
}
@keyframes rotate-in-2-bl-cw {
  0% {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    -webkit-transform-origin: 0 100%;
            transform-origin: 0 100%;
    opacity: 0;
  }
  100% {
    -webkit-transform: rotate(12deg);
            transform: rotate(12deg);
    -webkit-transform-origin: 0 100%;
            transform-origin: 0 100%;
    opacity: 1;
  }
}


  .registerImg2{
    position: absolute;
    top: 0rem;
    left: -12rem;
    width: 21rem;
    transform: rotate(-12deg);
    border-radius: 10px;
    box-shadow: 0px 5px 9px rgba(0, 0, 0, 0.6);
    z-index: 0;
    filter: grayscale(20%);
    -webkit-animation: rotate-in-2-br-ccw 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
            animation: rotate-in-2-br-ccw 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  }


@-webkit-keyframes rotate-in-2-br-ccw {
  0% {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    -webkit-transform-origin: 100% 100%;
            transform-origin: 100% 100%;
    opacity: 0;
  }
  100% {
    -webkit-transform: rotate(-12deg);
            transform: rotate(-12deg);
    -webkit-transform-origin: 100% 100%;
            transform-origin: 100% 100%;
    opacity: 1;
  }
}
@keyframes rotate-in-2-br-ccw {
  0% {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    -webkit-transform-origin: 100% 100%;
            transform-origin: 100% 100%;
    opacity: 0;
  }
  100% {
    -webkit-transform: rotate(-12deg);
            transform: rotate(-12deg);
    -webkit-transform-origin: 100% 100%;
            transform-origin: 100% 100%;
    opacity: 1;
  }
}

.registerContainer{
  display: flex;
  gap: 10px;
  margin-top: 30px;
}
.registerContainer button{
  border: none;
  background-color: transparent;
  font-size: 15px;
  font-style: italic;
  cursor: pointer;
  color: #ae9279;
}

.registerContainer h4{
  font-weight: 400;
}

/*   
  label {
    display: block;
  } */
  
  span {
    margin-left:3px;
    color: tomato;
    font-size: 10px;
    margin-bottom: -9px;
  }


  
  /* .formInput {
      margin-bottom: .5rem;
      display: block;
   } */